/* 
$color1: #4A00E0;
$color2: #200061; 
*/

*
{
    margin: 0;
    padding: 0;
}
.box {
    background-color: #fff;
    /* background-color: blue; */
    box-shadow: 4px 4px 0px #270075;
}

.box-header, .box-body {
    padding: 5px 10px;
}

.box-header {
    padding: 10px;
    /* background-color: #4A00E0;     */
    background: linear-gradient(to left, #8E2DE2, #4A00E0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-header h3 {
    margin: 0;
    color: white;
    letter-spacing: 1px;
}

.box-body {
    background-color: white;
}