@import "colors";
@import "mixins";

button:not(:disabled) {
	padding: 5px 10px;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;

	@include background-colors(lightgrey, darkgrey, grey);
}
button:disabled {
	background-color: grey;
	border: 1px solid grey;
}
