@import "colors";
@import "mixins";

button
{
	padding: 5px 10px;
	border-radius: 3px;

	&:not(:disabled)
	{
		padding: 5px 10px;
		border: 1px solid grey;
		cursor: pointer;
		@include background-colors(lightgrey, darkgrey, grey);
	}
	
	&:disabled
	{
		background-color: grey;
		border: 1px solid grey;
	}
}