

/* input:not([type="radio"]):not([type="checkbox"]), select, textarea
{
    --pad: 10px;
    display: block;
    width: calc( 100% - (var( --pad ) * 2) );
    max-width: 100%;
    padding: 10px var(--pad);
    margin: '0 auto';
    margin-bottom: 10px;
    border: 1px solid #4a00e0;
    border-radius: 5px;
    outline: 0;
} */

textarea
{
    resize: vertical;
}

/* button
{
    display: block;
    margin-left: auto;
    padding: 5px 10px;
    font-size: 19px;
    color: #fff;
    background: #4a00e0;
    border: 1px solid #4a00e0;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #270075;
    cursor:pointer;
    transition: background .2s, box-shadow .2s, text-shadow .2s, width .2s;
} */

/* button {
    padding: 5px 10px;
}

button:disabled
{
    background: grey;
    cursor: default;
    transition: background 0;
}

button:hover:not( :disabled )
{
    box-shadow: 1px 1px 6px #4a00e0;
    text-shadow: 0 0 6px #aaa;
    background: #270075;
}

input:disabled
{
    background: lightgrey;
} */