@import './components/css/mixins';
@import './components/css/colors';

.box
{
    margin-bottom: 10px;
}

$colors: ( $color1, $color2, $color3, $color4, $color5 );
.color1 { color: $color1; }
.color2 { color: $color2; }
.color3 { color: $color3; }
.color4 { color: $color4; }
.color5 { color: $color5; }

.bg1 { background-color: $color1 !important; }
.bg2 { background-color: $color2 !important; }
.bg3 { background-color: $color3 !important; }
.bg4 { background-color: $color4 !important; }
.bg5 { background-color: $color5 !important; }

body
{
    font-family:Arial, Helvetica, sans-serif;
}

li
{
    list-style-type: none;
    // padding-left: 15px;
}

#mainContainer
{
    display: flex;
    flex: 12;
    padding: 0 15px;

    & > *
    {
        width: 100%;
    }
}

#main
{
    flex: 8;
    max-width: calc( 100% / 12 * 8 - 5px);
    padding-right: 5px;
}

#side
{
    flex: 4;
    max-width: calc( 100% / 12 * 4 - 5px);
    padding-left: 5px;
}

.table
{
    border: 1px solid $color1;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: #00000005;
    // overflow: hidden;

    & td, & th
    {
        border: 1px solid darken( $color2, 20);
    }

    &-content
    {
        & th
        {
            padding: 10px;
            background-color: $color2;
            color: #fefefe;
        }
        & td
        {
            padding: 5px 10px;
        }
    }

    &.center
    {
        & td, & th
        {
            text-align: center;
        }
    }

    &-link
    {
        text-decoration: none;
        margin: 2px;
        padding: 3px 5px;
        color: #fefefe;
        border-radius: 3px;
        cursor: pointer;
        white-space: nowrap;
        background-color: darken( $color2, 5 );

        &.success {
            background-color: darken( $color4, 5) !important;
        }
        &.danger {
            background-color: $color3;
        }

        &:hover
        {
            filter: brightness(80%);
        }

        &-container
        {
            white-space: nowrap;
        }

    }
}